@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-decoration: none;
}
a{
    text-decoration: none;
}
input, button {
    border: none;
    background: none;
    outline: none;
}
.section1 {
    width: 100%;
    height: auto;
    background-color: #EEEFF1;
    background-position: bottom center;
    background-size: cover;
}

header{
    width: 1105px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    margin: 0 auto;
}
.nav{
    width: 616px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}
.nav :hover{
    color:  #34547A;;
}

.section1-content{
    width: 1028px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 183px 0px;
    margin: 0 auto;
    padding-bottom: 146px;

}

.section1-content h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.section1-content p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section1-content button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 25px 41px;
    background: #34547A;
}

.sec1-right{
    width: 541px;
}


.section2{
    width: 100%;
    height: auto;
}

.section2-content{
    width: 540px;
    margin: 0 auto;
    padding: 119px 0px;
    padding-bottom: 100px;
}

.section2-content h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.section2-content p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-top: 50px;
}

.section3{
    width: 100%;
    height: auto;
    background-color: #34547A;
}

.section3-content{
    width: 1091px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0px;
    padding-bottom: 100px;
}

.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 141px;
}

.box1 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.box1 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.section4{
    width: 100%;
    height: auto;
}

.section4-content{
    width: 1150px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 102px 0px;
    padding-bottom: 101px;

}

.sec4-left h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 20px;
}

.sec4-left p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 29.76px 0px;
}

.sec4-right{
    width: 100%;
}

.sec4-right img{
    width: 555px;
    height: 450px;
}

.sec4-left{
    width: 4145px;
}


.section5{
    width: 100%;
    height: auto;
    background-color: #EEEFF1;
    padding-bottom: 100px;
}

.section5 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 50px;
}

.section5 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-bottom: 57px;
}

.video{
    width: 1110px;
    margin: 0 auto;
}

.video img{
    width: 100%;
}

.section6{
    width: 100%;
    height: auto;
}

.sec6-img1{
    width: 100%;
    margin-top: 28px;

}

.sec6-img1 img{
    width: 100%;
}

.sec6-img2{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 72px;
}

.section7{
    width: 100%;
    height: auto;
    background-color: #EEEFF1;
}

.section7 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 50px;

}

.section7 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-bottom: 65px;
}

.sec7-info{
    width: 540px;
    margin: 0 auto;
}

.sec7-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.sec7-name input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    padding: 17px 20px;
    background: #FFFFFF;
    width: 255px;
}

.sec7-sob input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    padding: 17px 20px 143px;
    background: #FFFFFF;
    width: 540px;
    height: 175px;
}

.section7 button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    padding: 20px;
    background: #34547A;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.sec7-butt{
    width: 190px;
    margin: 0 auto;
}


.video{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
    position: relative;
    display: none;
}

.frameCss{
    width: 70%;
    height: 90vh;
    padding-top: 70px;
    margin: 0 auto;
}
.frameCss iframe{
    width: 100%;
    height: 100%;
}
.close{
    width: 100px;
    height: 70px;
    color: white;
    background: none;
    position: absolute;
    right: 80px;

}


.ssss p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}